:root {
    /* Primary:  #00ccff */
    --ts-new-header-bg: #00ccff !important;
    --tsv-server-header-gradient-start: #00ccff !important;
    --tsv-tint: #00ccff !important;

    /* Secondary:  #006699 */
    --tsv-side-bar-bg-gradient-bottom: #006699 !important;
    --tsv-server-header-gradient-end: #006699 !important;
    --strong-bg: #006699 !important;
    --tsv-bg: #006699 !important;
    --tsv-shaded-bg: #006699 !important;
    /* Font */
    --tsv-font-subtitle-color: lightgray !important;
    --afd-red: #cc0000;
}

/**
 * Replace TS Logo with AFD Logo.
 */
.ts-title-logo {
    background-image: url("tsui://extension/de.afd.branding/logo-light.png") !important;
    content: " ";
    width: 100% !important;
    height: 75% !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1rem;
}

.ts-title-logo > svg {
    display: none;
}

#ts-app-loading-overlay {
    background-color: var(--tsv-side-bar-bg-gradient-bottom) !important;
}

.ts-background-hexes-container, .ts-activities-placeholder {
    display: block !important;
}

.ts-input-wrapper > input {
    background-color: var(--ts-new-header-bg) !important;
}

.ts-input-wrapper > input::placeholder {
    color: var(--afd-red) !important;
}

.tsv-dashboard-grid > .tsv-dashboard-grid {
    border-color: var(--ts-new-header-bg) !important;
    border-style: solid;
    border-width: 2px;
    border-radius: var(--tsv-border-radius-xxxlarge);
}

/**
 * Replace TS Logo in Settings with AFD Logo.
 */

.ts-about-settings-header-icon-container > svg {
    display: none;
}

.ts-about-settings-header-icon-container:before {
    background: url("tsui://extension/de.afd.branding/logo-light.png") !important;
    content: " ";
    background-size: contain !important;
}

/**
 * Special to remove Paywall.
 */

.tsv-resize-area-container > .ts-join-community {
    display: none;
}

.ts-start-community-banner:after {
    font-size: 2rem;
    text-shadow: 1px 1px 0 black,
    -1px 1px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black,
    2px 2px 0 black,
    -2px 2px 0 black,
    2px -2px 0 black,
    -2px -2px 0 black;
    content: "✗ Deine Stimme am 23.02.2025!";
}

.ts-start-community-banner {
    background-image: url("tsui://extension/de.afd.branding/banner-upscaled.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
	background-position-y: 70%;
    min-height: 12rem !important;
}

.ts-start-community-banner__title:before {
    content: "Test";
    display: block;
}

.ts-start-community-banner__title, .ts-start-community-banner__info {
    display: none;
}

.ts-start-community-banner > div > .tsv-button {
    display: none;
}

.tsv-item-text > .tsv-sidebar-tab-header-title, .tsv-list > .tsv-subtitle {
    color: var(--tsv-font-color-invert);
}

.tsv-activity-main .tsv-header > .tsv-window-bar::after {
    background: #00ccff !important;
}

.tsv-activity-detail .tsv-header::before, .tsv-activity-detail .tsv-header::before, .tsv-header:before, .ts-server-tree-item-root {
    background: none !important;
}

.ts-widget-wrapper, .ts-widget-container > .tsv-view-banner, .ts-widget-container > .ts-widget:not(.transparent) {
    background: var(--tsv-header-bg) !important;
    border-color: var(--ts-new-header-bg) !important;
    border-style: solid;
    border-width: 2px;
    border-radius: var(--tsv-border-radius-xxxlarge);
}

.tsv-footer::before, .ts-horizontal-separator {
    background-color: #00ccff !important;
    border-top-color: #00ccff !important;
}

.ts-server-tree-item-leaf.channel, .ts-server-tree-item-leaf.client {
    --highlight-outline-color: #00ccff !important;
}

.ts-server-tree-item-leaf.channel:not(.spacer).has-password {
    --indicator-outline-color: #00ccff !important;
}

.tsv-icon-away-fill {
    fill: #00ccff !important;
}

.ts-discovery-card {
    border-color: #00ccff !important;
    border-style: solid;
    border-width: 2px;
    border-radius: 17px 17px 22px 22px;
}

.ts-discovery-card.ts-discovery-card--sticky[data-v-0a9f8238] {
    background-size: 101%;
}

.tsv-dashboard-chats .server-hosting > .tsv-dashboard-widget , .tsv-social-column{
    border-color: #00ccff !important;
    border-style: solid;
    border-width: 2px;
}

/**
 * Icon Margin Fix.
 */
.ts-account-badges-icon {
    margin-top: var(--tsv-padding-h-small);
}